.footer {
    position: relative;
    bottom: 0%;
    height: 10vh;
    background-color: black;
    color: aliceblue;
    flex-direction: column-reverse;
}

.fs-27 {
    font-size: 27px;
}

.pointerCursor {
    cursor: pointer;
}