.footer {
    position: absolute;
    bottom: 0%;
    height: 5vh;
    background-color: black;
    color: aliceblue;
    flex-direction: column-reverse;
    /* font-family: "SpecialElite"; */
}

.fs-27 {
    font-size: 27px;
}
